
@media (min-width: 1024px) {
  body{
    background-color:   hsl(216, 15%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
}



.card img{
    width: 100%;
    border-radius: 10px;
}
.card article{
    font-size: 14px;
    color: #7b7b7b;
    
}
.card{
    background: white;
    padding: 16px;
    border-radius: 15px;
    text-align: center;
    width: 280px;
}
